.fa-left-long-icon {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  
  .user-container {
    position: absolute;
    bottom: 50px;
  }
  
  .fa-heart-icon {
    color: #BEBFC1;
    position: absolute;
    left: 320px;
  }
  
  .profile-img {
    width: 100%; // Example property
    height: auto; // Example property
  }
  
  
.user-info {
    padding: 20px; // Example property
  }
  
  .user-details {
    display: flex;
    align-items: center;
  }