.my-profile-heading {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.fa-left-long-icon {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  
  .user-container {
    position: absolute;
    bottom: 50px;
  }

  .profile-img {
    width: 100%; // Example property
    height: auto; // Example property
  }
  
  
.user-info {
    padding: 20px; // Example property
  }
  
  .user-details {
    display: flex;
    align-items: center;
  }