.search-form {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 0;
  margin: 0px 20px;
  color: rgba(255, 255, 255, 0.3);
}

.search-form::placeholder {
  color: rgba(255, 255, 255, 0.3); /* Change the color value to your desired color */
}



.card-product {
  position: relative;
  overflow: hidden;
  height: 90px;
  background: rgba(29,29,39,255);
  display: flex;
  align-items: center;
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.3);
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px
}

.card-product img {
  border-radius: 50%;
  // height: 50px;
  // width: 50px;
  object-fit: cover;
  padding-left: 5px;
  padding-right: 5px
}


#user-list {
  margin-top: 10px;
}
.card-product-infos h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-product-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
}

.description-limit {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-product-infos {
  padding-left: 15px;
  width: 250px; /* Adjust the width as needed */
  height: 75px;
}

.user-card-link {
  text-decoration: none;
}

.fa-heart {
  color: #bebfc1;
}

.heart-red {
  color: #f267c9 !important;
}

.modal {
  --bs-modal-bg: #1f262ddb !important;
}

.swal2-popup {
  background: #1f262ddb !important;
  color: #F0F8FF !important;
}

.swal2-styled.swal2-confirm {
  background-color: #f267c9 !important;
}
