.search-form {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 0;
  margin: 0px 20px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  margin-bottom: 10px;
}

.search-form::placeholder {
  color: rgba(255, 255, 255, 0.3); /* Change the color value to your desired color */
}



.card-product-index-users {
  position: relative;
  overflow: hidden;
  // height: 130px;
  background: #24242ac4;
  display: flex;
  align-items: center;
  // border-bottom: 0.7px solid rgba(255, 255, 255, 0.3);
  font-family: 'Montserrat', sans-serif;
  // margin-left: 10px
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

.card-product-index-users img {
  border-radius: 2%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  // padding-left: 5px;
  padding-right: 5px
}


#user-list {
  margin-top: 10px;
}
.card-product-infos-index-users h2 {
  font-size: 17px;
}

.card-product-infos-index-users p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 10px;
}

.descriptions-limit {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-product-infos-index-users {
  padding-left: 15px;
  width: 250px; /* Adjust the width as needed */
  height: 75px;
}

.user-index-card-link {
  text-decoration: none;
}

.fa-heart {
  color: #bebfc1 !important;
}

.heart-red {
  color: #f267c9 !important;
}

.modal {
  --bs-modal-bg: #1f262ddb !important;
}

.modal-btn {
  // background-color: #f267c9;
  // color: white;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
  // margin: 10px auto;
  /* padding: 15px 10px; */
  /* width: 150px; */
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 25px;
  /* display: block; */
  text-decoration: none;
}

.swal2-popup {
  background: #1f262ddb !important;
  color: white !important;
}

.swal2-styled.swal2-confirm {
  // background-color: #f267c9;
  // color: white;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%) !important;
  // margin: 10px auto;
  /* padding: 15px 10px; */
  /* width: 150px; */
  // text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 25px;
  /* display: block; */
  text-decoration: none;
}
