<span class="home">
<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="intro">
  <h1>Welcome to Cinema Buddy</h1>
  <h3>Swipe, chat & share the big screen</h3>
  <% if current_user %>
    <%= link_to 'Start now', movies_path, class: 'btn-grad' %>
  <% else %>
    <%= link_to 'Register', new_user_session_path, class: 'btn-grad' %>
  <% end %>
</div>
</span>
>>>>>>> 8fd3a176f6cd9edad51b9072e28cd661f6115696
