
  .btn-grad {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  margin: 10px auto;
  padding: 15px 10px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  // box-shadow: 0 0 20px #eee;
  border-radius: 25px;
  display: block;
  text-decoration: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.log-in {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  color: white;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 17px;
}
