:root {
  --navbar-background-color: #141c24;
  --navbar-text-color: #ECF0F1;
  --navbar-hover-background-color: #272d33;
}

.navbar-container { 
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(22, 13, 13, 0.189);
  z-index: 1030;
  padding: 5px 0;
}

.navbar-lewagon {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
  justify-content: center;
}

.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.nav-link, .confirm-button {
  color: var(--navbar-text-color);
  transition: color 0.3s ease-in-out;
}

.nav-link:hover, .confirm-button:hover {
  color: var(--navbar-hover-background-color);
  text-decoration: none;
}

.profile-img-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; 
}

.nav-item {
  margin: 0 10px;
  font-size: x-large;
}